# Dependencies
node_modules/

# Build output
dist/
out/
build/
assets/

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/
.idea/
*.sublime-*

# Logs
*.log
npm-debug.log*
Logs/

# Electron specific
electron-builder.yml

package-lock.json
# Build tool installers
vs_buildtools.exe
node-gyp/
